{% extends 'pages/navigation.html' %}


{% block content %}

	<!-- Page Content -->
	<div class="container" style="margin-top: 80px">
        <div class="row"></div>
		<h1>About nearby.care</h1>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm12 col-xs12">
                <p class="lead">
                    Nearby.care is a project made by Computer Science master students at the Delft University of Technology.
                </p>
            </div>
		</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm12 col-xs12">
                <h3>Contributors</h3>
                <ul>
                    <li>Robert Baart (<a href="https://github.com/Threore">@Threore</a>)</li>
                    <li>Joren Hammudoğlu (<a href="https://github.com/jorenham">@jorenham</a>)</li>
                    <li>Mohamat Ulin Nuha(<a href="https://github.com/mulinnuha">@mulinnuha</a>)</li>
                    <li>Marijn Otte (<a href="https://github.com/marijnotte94">@marijnotte94</a>)</li>
                    <li>Helmi Riawan (<a href="https://github.com/helmiriawan">@helmiriawan</a>)</li>
                </ul>
            </div>
        </div>
	</div>
	<!-- /.container -->


{% endblock %}