{% extends 'pages/navigation.html' %}

{% block content %}

{% if info %}
    <!-- Page Content -->
	<div class="container">
        {% for item in info %}
		<h1>&nbsp;</h1>
        <!-- Caregiver information -->
		<div class="row">
            <div class="col-lg-6">
                <h2 class="cgv-name">{{item.name}}</h2>
                <span class="cgv-profession">Profession: {{item.profession}}</span>

            </div>
            <div class="col-lg-6">
                <!-- blank -->
            </div>
        </div>
        {% endfor %}

        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h2>Publications</h2>
                {% if publication %}
                {% for item in publication %}
                <div class="list-group-item">
                    <h4>{{item.title}}</a></h4><br/>
                    <div class="row">
                        <div class="col-lg-4">
                            <span class="pub-authors">Authors:
                            <ul>
                                {% for author in item.authors %}
                                <li>{{author}}</li>
                                {% endfor %}
                            </ul>
                            </span>
                        </div>
                        <div class="col-lg-8">
                            <span class="pub-terms">Mesh Terms:
                                <ul>
                                    {% for term in item.mesh_term %}
                                    <li>{{term}}</li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <span>No publications found</span>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>Trials</h2>
                {% if trials %}
                {% for item in trials %}
                <div class="list-group-item">
                    <h4><a href="/details_trial/{{item.id}}" target="_blank">{{item.brief_title}}</a></h4><br/>
                    <span class="trials-inv">Investigator: {{item.investigator}}</span><br/><br/>
                </div>
                {% endfor %}
                {% else %}
                <span>No trials found</span>
                {% endif %}
            </div>
        </div>

    </div>
{% else %}
    <h3>Invalid URL</h3>
{% endif %}

{% endblock %}