{% extends 'pages/navigation.html' %}

{% block content %}

{% if info %}
    <!-- Page Content -->
	<div class="container">
        {% for item in info %}
		<h1>&nbsp;</h1>
        <!-- Institution information -->
		<div class="row">
            <div class="col-lg-6">
                <h2 class="inst-name">{{item.name}}</h2>
                <span class="inst-type">{{item.inst_type}}</span><br/>
                <span class="inst-addr">Address: <br/>{{item.address}}</span><br/>
                <span class="inst-addr">{{item.postal_code}} {{item.city}} {{item.country}}</span></br>
                <span class="website"><a href="http://{{item.url}}" target="_blank">{{item.url}}</a></span>
            </div>
            <div class="col-lg-6">
                <!-- empty -->
            </div>
        </div>
        {% endfor %}

        <hr/>

        <div class="row">
            <div class="col-lg-6">
                <h2>Caregivers/doctors</h2>
                {% if employment %}
                {% for item in employment %}
                <div class="list-group-item">
                    <h4><a href="/details_caregiver/{{item.caregiver_id}}" target="_blank">{{item.caregiver_name}}</a></h4>
                    <span class="cgv-prof">{{item.caregiver_profession}}</span>
                </div>
                {% endfor %}
                {% else %}
                <span>No caregivers found</span>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>Trials</h2>
                {% if trials %}
                {% for item in trials %}
                <div class="list-group-item">
                    <h4><a href="/details_trial/{{item.id}}" target="_blank">{{item.brief_title}}</a></h4><br/>
                    <span class="trials-inv">{{item.investigator}}</span><br/><br/>
                </div>
                {% endfor %}
                {% else %}
                <span>No trials found</span>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <h3>Invalid URL</h3>
{% endif %}
{% endblock %}