{% extends 'pages/navigation.html' %}

{% block content %}

{% if info %}
    <!-- Page Content -->
	<div class="container">
        {% for item in info %}
		<h1>&nbsp;</h1>
        <!-- Caregiver information -->
		<div class="row">
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>{{item.brief_title}}</h1>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td class="bold">Brief Title</td>
                        <td>{{item.brief_title}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Title</td>
                        <td>{{item.title}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Acronym</td>
                        <td>{{item.acronym}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Summary</td>
                        <td>{{item.summary}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Description</td>
                        <td>{{item.description}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Status</td>
                        <td>{{item.status}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Criteria</td>
                        <td>{{item.criteria}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Conditions</td>
                        <td>
                            <ul>
                            {% for cond in item.conditions %}
                                <li>{{cond}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Investigator</td>
                        <td>{{item.investigator}}</td>
                    </tr>
                    <tr>
                        <td class="bold">Collaborators</td>
                        <td>
                            <ul>
                            {% for collab in item.collaborators %}
                                <li>{{collab}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
        </div>
        {% endfor %}

    </div>
{% else %}
    <h3>Invalid URL</h3>
{% endif %}

{% endblock %}