{% extends 'pages/navigation.html' %}


{% block content %}

	<!-- Page Content -->
	<div class="container">
		<h1>&nbsp;</h1>
		<div class="row">
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>

			<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
				<div class="input-group input-group-lg">
					<input class="form-control input-lg" type="search" placeholder="Dentist near me..." id="search-input">
					<div class="input-group input-group-lg input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn-dropdown">
							Medical institution <span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" id="choose-type">
							<li><a href="#" id="choose-hospital">Medical institution</a></li>
							<li><a href="#" id="choose-doctor">Medical caregiver</a></li>
							<li><a href="#" id="choose-trial">Medical trial</a></li>
						</ul>
					</div>
					<input type="hidden" id="search-category" value="1">
				</div>
			</div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<button class="btn btn-primary btn-lg" id="submit-button" type="button">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>

			<div style="display:none;" id="loc-message"></div>

			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<div class="modal" id="modal"></div>
			</div>
		</div>

		<div class="row">
			<h1>&nbsp;</h1>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div id="result-list"></div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div id="map-placeholder" style='width: 700px; height: 700px;'></div>
			</div>
		</div>

	</div>
	<!-- /.container -->


{% endblock %}