{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow" />
	<meta name="description" content="Nearby.care">
	<meta name="author" content="">

	<title>Nearby.care: Find relevant hospitals, doctors and medical trials near you!</title>

	<!-- Bootstrap Core CSS -->
	<link href="{% static 'pages/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="{% static 'pages/css/search.css' %}" rel="stylesheet">
	<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />


	<!-- Custom Fonts -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Nearby.care</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                </li>

                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


{% block content %}
{% endblock %}


<!-- jQuery -->
<script src="{% static 'pages/js/jquery-3.2.0.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'pages/js/bootstrap.min.js' %}"></script>

<!--<script src="<?=base_url();?>assets/js/location.js"></script>-->
<script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>

<!-- Custom js -->
<script src="{% static 'pages/js/location.js' %}"></script>
<script src="{% static 'pages/js/search.js'' %}"></script>


</body>

</html>